body{px;color: red;text-shadow: 1px 1px black;text-decoration: inherit}
h1{color: red}
blockquote{text-align: justify;font-style: italic;}
img{border-radius: 150px;border-style:solid }
li{font-style: bold;color: purple}
p{color: blue;font-style: italic;}